@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Ubuntu;
    src: url(../font/Ubuntu-Regular.ttf);
    font-weight: 400;
}